body {
    font-family: 'Times New Roman', 'Consolas', monospace;
    color: white;
    padding-top: 80px;
    background-image: url('pics/bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

html {
    scroll-padding-top: 80px;
}

.navbg {
    background-image: url('pics/bg.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container-custom {
    width: 90%;
    margin: 0 auto;
}

.km {
    width: 15vw;
    float: left;
    margin-right: 10px;
}
.picikep img {
    width: 20vw;
    margin: 0 auto;
}

.eletrajz, .utikalauz, .szobrocskak, .latnivalo {
    text-align: justify;
}

h2 {
    text-align: center;
}

.szobrocskak p {
    text-align: justify;
}

.forras {
    font-size: 0.8rem !important;
}

.card {
    height: 90vh;
    overflow-y: auto;
}

.nav-link:hover {
    color: black;
    text-shadow: 0px 20px 10px;

}
